<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.__USER__.rhradar</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>__HOME__/Projects/rh-radar/run.sh</string>
  </array>
  <key>StartInterval</key><integer>1800</integer>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>__HOME__/Projects/rh-radar/logs/scan.log</string>
  <key>StandardErrorPath</key><string>__HOME__/Projects/rh-radar/logs/scan.err</string>
  <key>WorkingDirectory</key><string>__HOME__/Projects/rh-radar</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>NODE_USE_ENV_PROXY</key><string>1</string>
    <key>HTTP_PROXY</key><string>http://__PROXY_HOST_PORT__</string>
    <key>HTTPS_PROXY</key><string>http://__PROXY_HOST_PORT__</string>
    <key>ALL_PROXY</key><string>socks5://__PROXY_HOST_PORT__</string>
    <key>MAX_PAGES</key><string>2</string>
    <key>PATH</key><string>__HOME__/.nvm/versions/node/v25.8.0/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict>
</plist>
